@font-face {
  font-family: tec;
  src: url(Font/classy_vogue/Classyvogueregular.ttf);
}

@font-face {
  font-family: tec2;
  src: url(Font/cinzel/Cinzel-Regular.otf);
}

@font-face {
  font-family: tec3;
  src: url(Font/mono_2/Mono\ Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo-produtos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 20px 40px;
  flex-wrap: wrap;
  background: linear-gradient(to right, #1f1f1f, #000000);
}

.menu-navegacao {
  list-style: none;
  display: flex;
  gap: 20px;
  background: linear-gradient(to right, #1f1f1f, #000000);
}

.menu-navegacao li {
  background: linear-gradient(to right, #1f1f1f, #000000);
  padding: 10px 20px;
  border: 1px solid #0096D6;
  border-radius: 5px;
  box-shadow: 0 0 10px #0096D6;
}

.menu-navegacao a {
  text-decoration: none;
  color: whitesmoke;
  font-family: monospace;
  font-size: 16px;
  background: linear-gradient(to right, #1f1f1f, #000000);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #1f1f1f, #000000);
    color: white;
    line-height: 1.6;
    padding: 30px 90px 80px 90px;
}


header {
    background: linear-gradient(to right, #1f1f1f, #000000);
    color: #111;
    text-align: center;
    padding: 10px 0;
    box-shadow:0 0 20px #0096D6;
    border-radius: 12px;
    font-family: tec2;
}


h1 {
    font-weight: 40px;
    font-family: tec2;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff; 
}


nav { 
  background: linear-gradient(to right, #1f1f1f, #000000);
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

nav a {
  background: linear-gradient(to right, #1f1f1f, #000000);
  box-shadow: 0 0 10px #0096D6;
  padding: 10px 5px; 
  transition: box-shadow;
  border-radius: 12px;
  

}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}


a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}


a:hover {
    color: white;
    text-decoration: underline;
}


button {
    background-color: #8ac3ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #0056b3;
}

h2 {
  font-weight: 600;
  color: #0096D6;
  font-family: 'tec2', sans-serif;
}

h3 {
  font-weight: normal;
  color: #ffffff;
  font-family: 'tec2', sans-serif;
}


.caixa {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 1000px;
  height: 300px;
  margin: auto;
  padding: 10px 20px 10px 30px;
  border: 1px  #44444425;
  border-radius: 12px;
  background: linear-gradient(to right, #1f1f1f, #000000);
  text-align: center;
  box-sizing: border-box;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 67%;
  flex-direction: row;
  scroll-behavior: smooth;
}


.imagem-container {
  border: 1px solid #0096D6;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  width: 220px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  flex: 1;
  min-width: 220px;
  text-align: center;
  pointer-events: auto; 
  cursor: pointer; 
  flex: 0 0 auto;   
  max-width: 220px;
}


.imagem-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  width: 100px;
  margin-bottom: 10px;
  margin: 0 auto 10px;
  pointer-events: auto; 
  cursor: pointer; 
}


.detalhes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  display: none;
  bottom: 0;
  user-select: none;
  pointer-events: auto;
}


.imagem-container:hover .detalhes {
  opacity: 1;
  display: block;
}


.sem-pontos {
      list-style-type: none; 
      padding-left: 0;  
    }


.nome-produto {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}


.link-produto {
  display: inline-block; 
  width: 250px;         
  height: 200px;        
  text-decoration: none;  
  color: inherit;       
  position: relative;    
  cursor: pointer;
}

.caixa-central {
  justify-content: center;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 1000px;
  height: 300px;
  margin: auto;
  padding: 10px 20px 10px 30px;
  border: 1px solid #44444425;
  border-radius: 12px;
  background: linear-gradient(to right, #1f1f1f, #000000);
  text-align: center;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 67%;
  flex-direction: row;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  background: linear-gradient(to right, #1f1f1f, #000000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-navbar {
  width: 60px;
  height: auto;
}

.titulo-navbar {
  color: #ffffff;
  font-family: tec2;
  border-radius: 12px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;

}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-family: tec2;
  font-weight: bold;
  transition: color 0.3s;

  

  
}